<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <property name="LOG-FILE" value="/logs/functions.log"/>

    <appender name="FILE-ENGINE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG-FILE}</file>
        <withJansi>true</withJansi>
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>


    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE-ENGINE" />
    </root>
</configuration>
